

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    background-color: #614101;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
}

.accordian{
    width: 500px;
}

.item {
    background-color: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.title span{
    font-size: 20px;
    font-weight: 900;
}

.content{
    font-size: 20px;
    font-weight: 800;
    color: #ffffff9d;
    height: auto;
}